:host{
}

button {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bolder;
    color: rgb(6, 95, 212);
    background-color: rgb(222, 241, 255);
}
